<a href="https://colab.research.google.com/github/hainaonao/AITraining/blob/main/XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

XGBoost là một thư viện tối ưu hóa cho việc huấn luyện hiệu quả và có khả năng mở rộng của các mô hình học máy dựa trên phương pháp tăng cường độ dốc (gradient boosting). Đây là một phương pháp học tập tổ hợp kết hợp các dự đoán từ nhiều mô hình yếu để tạo ra một dự đoán mạnh mẽ hơn. Tên đầy đủ của XGBoost là "Extreme Gradient Boosting," và nó đã trở thành một trong những thuật toán học máy phổ biến và được sử dụng rộng rãi nhất do khả năng xử lý tốt với các bộ dữ liệu lớn và khả năng đạt được hiệu suất hàng đầu trong nhiều nhiệm vụ học máy như phân loại và hồi quy.

Một trong những tính năng quan trọng của XGBoost là khả năng xử lý hiệu quả các giá trị thiếu, giúp nó xử lý dữ liệu thực tế có giá trị thiếu mà không đòi hỏi xử lý trước đáng kể. Ngoài ra, XGBoost hỗ trợ xử lý song song tích hợp sẵn, giúp việc huấn luyện mô hình trên các bộ dữ liệu lớn trở nên khả thi trong khoảng thời gian hợp lý.

XGBoost có thể được áp dụng trong nhiều ứng dụng khác nhau, bao gồm các cuộc thi Kaggle, hệ thống đề xuất, dự đoán tỉ lệ nhấp chuột, và nhiều ứng dụng khác. Nó cũng rất linh hoạt và cho phép tinh chỉnh các tham số mô hình khác nhau để tối ưu hiệu suất.

XgBoost viết tắt của Extreme Gradient Boosting, đã được đề xuất bởi các nhà nghiên cứu tại Đại học Washington. Đây là một thư viện được viết bằng ngôn ngữ lập trình C++ với mục tiêu tối ưu hóa quá trình huấn luyện cho phương pháp Tăng cường Độ dốc.

# Decision tree:
# Random forest:
# Bagging:
Một bộ phân loại Bagging là một meta-estimator của tập hợp (ensemble) được thiết kế để đưa các bộ phân loại cơ bản fit trên các tập con ngẫu nhiên của bộ dữ liệu gốc, sau đó tổng hợp các dự đoán cá nhân của chúng (bằng cách bỏ phiếu hoặc bằng cách trung bình) để tạo ra một dự đoán cuối cùng. Một meta-estimator như vậy thường được sử dụng như một cách để giảm phương sai của một bộ ước lượng "hộp đen" (ví dụ: cây quyết định), bằng cách đưa vào quá trình xây dựng ngẫu nhiên và sau đó tạo thành một tập hợp từ nó.

Mỗi bộ phân loại cơ bản được huấn luyện song song trên một tập huấn luyện được tạo ra bằng cách rút ngẫu nhiên, có thay thế, N ví dụ (hoặc dữ liệu) từ bộ dữ liệu huấn luyện gốc, trong đó N là kích thước của bộ dữ liệu huấn luyện gốc. Tập huấn luyện cho mỗi bộ phân loại cơ bản là độc lập với nhau. Nhiều dữ liệu gốc có thể được lặp lại trong tập huấn luyện kết quả trong khi một số khác có thể bị bỏ qua.

Bagging giảm hiện tượng quá mức học (phương sai) thông qua quá trình trung bình hoặc bỏ phiếu, tuy nhiên, điều này dẫn đến sự gia tăng về sai số hệ số (bias), được bù đắp bằng sự giảm thiểu về phương sai.

Gradient Boosted Trees và XGBoost là các kỹ thuật quan trọng trong machine learning, đặc biệt là trong việc xây dựng các mô hình dự đoán mạnh mẽ. Dưới đây là phần dịch của đoạn văn:

**Gradient Boosted Trees:**
Gradient Boosted Trees là một kỹ thuật quan trọng trong machine learning, trong đó bộ học viên cơ bản là CART (Cây quyết định phân loại và hồi quy). Đối với Gradient Boosting, mỗi bộ dự đoán sẽ sửa lỗi của bộ trước đó. Khác với Adaboost, trọng số của các trường hợp huấn luyện không được điều chỉnh; thay vào đó, mỗi bộ dự đoán được huấn luyện bằng cách sử dụng lỗi dư của bộ trước đó như nhãn.

**XGBoost:**
XGBoost là một triển khai của cây quyết định được tăng cường bằng Gradient Boosting. Các mô hình XGBoost thường chiếm ưu thế trong nhiều cuộc thi Kaggle. Trong thuật toán này, cây quyết định được tạo ra theo thứ tự. Trọng số đóng một vai trò quan trọng trong XGBoost. Trọng số được gán cho tất cả các biến độc lập và sau đó được đưa vào cây quyết định để dự đoán kết quả. Trọng số của các biến dự đoán sai lầm bởi cây được tăng và sau đó các biến này được đưa vào cây quyết định thứ hai. Các bộ phân loại/dự đoán riêng lẻ này sau đó hợp nhất để tạo ra một mô hình mạnh mẽ và chính xác hơn. XGBoost có thể hoạt động trên các vấn đề hồi quy, phân loại, xếp hạng và các vấn đề dự đoán được xác định bởi người sử dụng.

**Toán học đằng sau XgBoost:**
Trước khi bắt đầu với toán học về Gradient Boosting, đây là một ví dụ đơn giản về một CART (Cây quyết định phân loại và hồi quy) phân loại liệu ai đó sẽ thích một trò chơi máy tính giả định X. Dự đoán điểm của mỗi cây quyết định cá nhân sau đó được tổng hợp để có được $(\hat{y}_i)$. Một điểm quan trọng trong ví dụ này là hai cây cố gắng bổ sung cho nhau.

Hàm mục tiêu cho mô hình trên có thể được viết dưới dạng:

$  \hat{y}_{i} =  \sum_{k=1}^{K} f_k(x_i), f_k \epsilon \mathcal{F}  $

Trong đó, \(K\) là số cây, \(f\) là không gian chức năng của \(F\), \(F\) là tập hợp các CART có thể có. Hàm mục tiêu cho mô hình trên có thể được định nghĩa là:

$ obj(\theta) = \sum_{i}^{n} l(y_{i}, \hat{y}_{i}) + \sum_{k=1}^K \Omega(f_{k}) $

Nơi, thành phần đầu tiên là hàm mất mát và thành phần thứ hai là tham số điều chuẩn. Thay vì học cây một cách tức thì, làm cho việc tối ưu hóa khó khăn hơn, chúng ta áp dụng chiến lược cộng dồn, giảm thiểu mất mát đã học và thêm một cây mới có thể tóm tắt như sau:

$ \hat{y}_i^{(0)} =0\\ \hat{y}_i^{(1)} =  f_1(x_i) = \hat{y}_i^{(0)} + f_1(x_i)\\ \hat{y}_i^{(2)} = f_1(x_i) + f_2(x_i)= \hat{y}_i^{(1)} + f_2(x_i)\\ ....\\ \hat{y}_i^{(t)} = \sum_{k=1}^t f_k(x_i)= \hat{y}_i^{(t-1)} + f_t(x_i) $

Hàm mục tiêu của mô hình trên có thể được định nghĩa là:

$ obj^{(t)}  = \sum_{i=1}^{n} l(y_i, \hat{y}_{i}^{(t)}) + \sum_{i=1}^t\Omega(f_i) \\           = \sum_{i=1}^{n} l(y_i, \hat{y}_{i}^{(t-1)} + f_{t}(x_i)) + \Omega(f_t) + hằng số $

Nơi, thành phần đầu tiên là hàm mất mát và thành phần thứ hai là tham số điều chuẩn. Bây giờ, chúng ta áp dụng phương pháp mở rộng chuỗi Taylor đến bậc hai:

$ obj^{(t)} = \sum_{i=1}^{n} [l(y_i, \hat{y}_i^{(t-1)}) + g_i f_t(x_i) + \frac{1}{2} h_{i} f_{t}^2(x_i)] + \Omega(f_t) + hằng số $

Ở đây, $g_i$ và $h_i$ có thể được định nghĩa như sau:

$ g_i = \partial_{\hat{y}_i^{(t-1)}} l(y_i, \hat{y}_i^{(t-1)}) $
$ h_i = \partial_{\hat{y}_i^{(t-1)}}^2 l(y_i, \hat{y}_i^{(t-1)}) $

Giảm đơn giản và loại bỏ hằng số, chúng ta có:

$ \sum_{i=1}^n [g_{i} f_{t}(x_i) + \frac{1}{2} h_{i} f_{t}^2(x_i)] + \Omega(f_t) $

Bây giờ, chúng ta định nghĩa thuật ngữ điều chuẩn, nhưng trước hết chúng ta cần định nghĩa mô hình:
Ở đây, $f_t(x) = w_{q(x)}, w \in R^{T}, q:R^d\rightarrow \{1,2,...,T\}$ nghĩa là \(w\) là vector điểm số trên các lá của cây, \(q\) là hàm gán mỗi điểm dữ liệu vào lá tương ứng, và \(T\) là số lá của cây. Thuật ngữ điều chuẩn được định nghĩa như sau:

$\Omega(f) = \gamma T + \frac{1}{2}\lambda \sum_{j=1}^T w_j^2$

Bây giờ, hàm mục tiêu của chúng ta trở nên:

$obj^{(t)} \approx \sum_{i=1}^n [g_i w_{q(x_i)} + \frac{1}{2} h_i w_{q(x_i)}^2] + \gamma T + \frac{1}{2}\lambda \sum_{j=1}^T w_j^2\]
\[= \sum^T_{j=1} \left[ \left(\sum_{i\in I_j} g_i\right) w_j + \frac{1}{2} \left(\sum_{i\in I_j} h_i + \lambda\right) w_j^2 \right] + \gamma T$

Tiếp theo, chúng ta đơn giản hóa biểu thức trên:

$obj^{(t)} = \sum^T_{j=1} \left[ G_jw_j + \frac{1}{2} \left(H_j+\lambda\right) w_j^2 \right] +\gamma T$

Trong đó:

$G_j = \sum_{i\in I_j} g_i\\ H_j = \sum_{i\in I_j} h_i$

Trong phương trình này, $w_j$ là độc lập với nhau, $w_j$ tốt nhất cho một cấu trúc $q(x)$ đã cho và giảm thiểu mục tiêu tốt nhất mà chúng ta có thể đạt được là:

$w_j^{\ast} = -\frac{G_j}{H_j+\lambda}\\ \text{obj}^{\ast} = -\frac{1}{2} \sum_{j=1}^T \frac{G_j^2}{H_j+\lambda} + \gamma T$

Ở đây, $\gamma$ là tham số cắt tỉa, tức là mức giảm thông tin tối thiểu để thực hiện phân nhánh.

Bây giờ, chúng ta cố gắng đo lường xem cây tốt như thế nào, chúng ta không thể tối ưu trực tiếp cây, chúng ta sẽ cố gắng tối ưu một cấp của cây mỗi lần. Cụ thể, chúng ta cố gắng phân chia một lá thành hai lá, và điểm số mà nó đạt được là:

$Gain = \frac{1}{2} \left[\frac{G_L^2}{H_L+\lambda}+\frac{G_R^2}{H_R+\lambda}-\frac{(G_L+G_R)^2}{H_L+H_R+\lambda}\right] - \gamma$

In [ ]:
# Phần 1. GBM
# Data: Loan Data (Upload Github)

import pandas as pd
import numpy as np

In [ ]:
# Doc du lieu tu file
df = pd.read_csv("/content/loan_data.csv")

In [ ]:
df

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

In [ ]:
# Xử lý dữ liệu
df.dropna(inplace=True)
df.drop(columns=['Loan_ID'], inplace=True)
df

     Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
1      Male     Yes          1  ...            1.0         Rural            N
2      Male     Yes          0  ...            1.0         Urban            Y
3      Male     Yes          0  ...            1.0         Urban            Y
4      Male      No          0  ...            1.0         Urban            Y
5      Male     Yes          2  ...            1.0         Urban            Y
..      ...     ...        ...  ...            ...           ...          ...
609  Female      No          0  ...            1.0         Rural            Y
610    Male     Yes         3+  ...            1.0         Rural            Y
611    Male     Yes          1  ...            1.0         Urban            Y
612    Male     Yes          2  ...            1.0         Urban            Y
613  Female      No          0  ...            0.0     Semiurban            N

[480 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

is_Category = df.dtypes == object

category_column_list = df.columns[is_Category].tolist()

df[category_column_list] = df[category_column_list].apply(lambda col: le.fit_transform(col))

In [ ]:
df

     Gender  Married  Dependents  ...  Credit_History  Property_Area  Loan_Status
1         1        1           1  ...             1.0              0            0
2         1        1           0  ...             1.0              2            1
3         1        1           0  ...             1.0              2            1
4         1        0           0  ...             1.0              2            1
5         1        1           2  ...             1.0              2            1
..      ...      ...         ...  ...             ...            ...          ...
609       0        0           0  ...             1.0              0            1
610       1        1           3  ...             1.0              0            1
611       1        1           1  ...             1.0              2            1
612       1        1           2  ...             1.0              2            1
613       0        0           0  ...             0.0              1            0

[480 rows x 12 columns]

In [ ]:
# Chia dữ liệu train, test

from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size = 0.2, random_state=42)

x_train = train.drop(columns=['Loan_Status'])
y_train = train['Loan_Status']

x_test = test.drop(columns=['Loan_Status'])
y_test = test['Loan_Status']

In [ ]:
# Train model

from sklearn.ensemble import GradientBoostingClassifier

model = GradientBoostingClassifier(learning_rate=0.01, random_state=42)
model.fit(x_train, y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.01, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=42, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [ ]:
# Tinh toan acc tren test

acc = model.score(x_test, y_test)
print(acc*100)

80.20833333333334

In [ ]:
# XgBoost

import xgboost as xgb

model_xgb = xgb.XGBClassifier(learning_rate =0.01, random_state=42, n_estimators = 100)
model_xgb.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
acc = model_xgb.score(x_test, y_test)
print(acc*100)

81.25